h1 {
    text-align: center;
    font-size: 35px;
    font-style: avenir;
}
.text1 {
    font-size: 24px;
    font-style: italic;
    text-align: center;
}
.text2 {
    background: green;
    color: blue;
}